[Unit]
Description=BlueALSA audio receiver
Requires=bluealsa.service
After=bluealsa.service sound.target

[Service]
Type=simple
User=root
ExecStart=bluealsa-aplay 00:00:00:00:00:00
#/usr/bin/bluealsa-aplay --profile-a2dp --pcm-buffer-time=250000 -v 00:00:00:00:00:00
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
