[Unit]
Description=Seeed Voicecard service
After=alsa-restore.service
ConditionPathExists=!/boot/do_not_use_repeaker_hat.txt
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/seeed-voicecard
User=root
 
[Install]
WantedBy=sysinit.target
