<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h_(Candle)</name>
  <service>
    <type>_device-info._tcp</type>
    <port>0</port>
    <txt-record>model=Candle_Controller</txt-record>
  </service>
  <service protocol="any">
    <type>_http._tcp</type>
    <port>8080</port>
    <txt-record value-format="text">vendor=Candle</txt-record>
    <txt-record value-format="text">model=Candle_Controller</txt-record>
    <txt-record value-format="text">version=3.0</txt-record>
    <txt-record value-format="text">description=Privacy_Protecting_Smart_Home_Controller</txt-record>
    <txt-record value-format="text">admin_port=8080</txt-record>
    <txt-record value-format="text">url=http://www.candlesmarthome.com</txt-record>
  </service>
  <service protocol="any">
    <type>_https._tcp</type>
    <port>4443</port>
    <txt-record value-format="text">vendor=Candle</txt-record>
    <txt-record value-format="text">model=Candle_Controller_3.0</txt-record>
    <txt-record value-format="text">version=3.0</txt-record>
    <txt-record value-format="text">description=Privacy_Protecting_Smart_Home_Controller</txt-record>
    <txt-record value-format="text">admin_port=4443</txt-record>
    <txt-record value-format="text">url=http://www.candlesmarthome.com</txt-record>
  </service>
</service-group>
