<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">CandleMQTT-%h</name>
  <service>
   <type>_mqtt._tcp</type>
   <port>1885</port>
  </service>
</service-group>
