# No longer enabled, is now handled by rc-local service so that the controller and browser aren't started until the bootup_actions are done.

[Unit]
Description=Candle bootup actions
After=network.target candle_early.service
#PartOf=webthings-gateway.service
Before=webthings-gateway.service
ConditionPathExists=/boot/firmware/bootup_actions.sh

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/chmod +x /boot/firmware/bootup_actions.sh
ExecStart=/bin/bash /boot/firmware/bootup_actions.sh
ExecStartPost=/bin/sleep 5
#ExecStartPost=/bin/rm /boot/firmware/bootup_actions.sh
ExecStop=/bin/rm /boot/firmware/bootup_actions.sh

StandardOutput=journal

[Install]
WantedBy=multi-user.target
