[Unit]
Description=Show updating splash screen
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=!/boot/rotate180.txt
ConditionPathExists=/boot/bootup_actions.sh

[Service]
ExecStart=/usr/bin/ply-image /boot/splash_updating.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
