[Unit]
Description=Show Candle logo on reboot 180
DefaultDependencies=no
Before=reboot.service
After=splashscreen.service
ConditionPathExists=/boot/rotate180.txt
ConditionKernelCommandLine=splash
ConditionVirtualization=!container

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/ply-image /boot/splash180alt.png

[Install]
WantedBy=reboot.target
