[Unit]
Description=Show Candle logo on boot
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=!/boot/rotate180.txt
ConditionPathExists=!/boot/bootup_actions.sh
ConditionKernelCommandLine=splash
ConditionVirtualization=!container

[Service]
ExecStart=/usr/bin/ply-image /boot/splash.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
