[Unit]
Description=Candle every few seconds timer
After=candle_early.service
Requires=candle_early.service

[Timer]
#OnCalendar=*-*-* *:*:00
#OnActiveSec=30
OnUnitActiveSec=10s
AccuracySec=1s
#Persistent=true
Unit=candle_every_few_seconds.service
StandardOutput=null

[Install]
WantedBy=timers.target
