[Unit]
Description=Show updating splash screen
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=!/boot/firmware/rotate180.txt
ConditionPathExists=/boot/firmware/bootup_actions.sh

[Service]
ExecStart=/usr/bin/ply-image /boot/firmware/splash_updating.png
StandardInput=tty
StandardOutput=tty

# Security
PrivateNetwork=yes
PrivateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ProtectHostname=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH
RestrictNamespaces=uts ipc pid user cgroup net
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=true

[Install]
WantedBy=sysinit.target
