[Unit]
Description=Run a script
After=home-pi-.webthings.mount
ConditionPathExists=/home/pi/.webthings/run_once.sh

[Service]
Type=oneshot
User=pi
ExecStartPre=/bin/chmod +x /home/pi/.webthings/run_once.sh
ExecStartPre=/bin/rm /home/pi/.webthings/run_once_output.txt
ExecStartPre=/bin/sleep 2
ExecStart=/bin/bash /home/pi/.webthings/run_once.sh
ExecStop=/bin/sleep 5
ExecStop=/bin/rm /home/pi/.webthings/run_once.sh

#StandardOutput=journal
StandardOutput=file:/home/pi/.webthings/run_once_output.txt

[Install]
WantedBy=multi-user.target
