[Unit]
Description=Candle every minute
After=candle_late.service

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=5s
Persistent=true
ExecStart=/bin/bash /home/pi/candle/every_minute.sh

[Install]
WantedBy=timers.target
