[Unit]
Description=Candle every few seconds service
After=candle_late.service
ConditionPathExists=/home/pi/candle/every_few_seconds.sh
ConditionPathExists=!/boot/firmware/emergency.txt
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
User=root
ExecStartPre=/bin/chmod +x /home/pi/candle/every_few_seconds.sh
ExecStart=/bin/bash /home/pi/candle/every_few_seconds.sh
StandardOutput=null
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
