[Unit]
Description=Play silence on a loop if on a Raspberry Pi 5 with pipewire to fix HDMI audio lag
After=network.target sound.target webthings-gateway.service
Wants=sound.target
ConditionPathExists=/home/pi/candle/silence.mp3
ConditionPathExists=/usr/bin/pipewire

[Service]
Type=idle
User=pi
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/pw-play --volume=0.1 /home/pi/candle/silence.mp3
TimeoutStartSec=5
#RemainAfterExit=yes
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
