[Unit]
Description=Candle Controller Client
After=network.target candle_early.service dbus.service
#Requires=dbus-setenv.service
Requires=dbus.service
#OnFailure=webthings-gateway.update-rollback.service
#ConditionPathExists=!/boot/bootup_actions.sh

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
User=pi
WorkingDirectory=/home/pi/webthings/gateway
# Edit this line, if needed, to set the correct path to node
ExecStart=/home/pi/webthings/gateway/run-app.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
